---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Who am I?"
	description="The question I keep asking myself."
	pubDate={new Date('June 09 2026')}
	heroImage="/blog-placeholder-about.jpg"
>
	<p>
		The question which gets asked in almost all situations of life, "who are you?". Maybe not as a direct question, but 
		in meeting new people, interviewing for jobs, networking, relationships with friends and family, we are forced to 
		look at the question of who we are. What used to be a relatively simple question to answer, I find more and more 
		difficult to answer the further I go on in my journey. The sense of self is ever evolving. A son, a brother, a 
		student, a worker, a friend, a lover. We play different roles for different people, and those roles are continuously 
		changing as time ticks by. I am definitely not the first person to feel this question in this way, but at present I 
		feel the question intensely. I suppose partially self inflicted with this venture into online lands. But it is a 
		question I have been asking myself a lot recently. Trying to understand my place in the world. What am I doing? Where 
		am I going? Ultimately, who am I?
 
	</p>

	<p>
		The standard answer to this question I suppose would be:
		I am a 29 year old Irish man, born in Belfast and currently living in Belfast.
		I was born to Barbara and Liam, and have one full brother, two half brothers and two half sisters.
		I attended school in Belfast and went on to study Engineering at Durham University in the UK.
		I graduated with a Masters Degree in Electronic Engineering and went on to work for Amazon for close to 5 years.
		I lived in the UK for over 5 years, and Dublin, Ireland for 4 years.
		I love to travel and have been fortunate enough to travel to 32 countries across the world so far.
		I enjoy reading, running, yoga-ing and singing.
		I identify as pan-sexual and have been in a relationship with my partner for over 5 years.
	</p>

	<p>
		Mollis nunc sed id semper risus in. Convallis a cras semper auctor neque. Diam sit amet nisl
		suscipit. Lacus viverra vitae congue eu consequat ac felis donec. Egestas integer eget aliquet
		nibh praesent tristique magna sit amet. Eget magna fermentum iaculis eu non diam. In vitae
		turpis massa sed elementum. Tristique et egestas quis ipsum suspendisse ultrices. Eget lorem
		dolor sed viverra ipsum. Vel turpis nunc eget lorem dolor sed viverra. Posuere ac ut consequat
		semper viverra nam. Laoreet suspendisse interdum consectetur libero id faucibus. Diam phasellus
		vestibulum lorem sed risus ultricies tristique. Rhoncus dolor purus non enim praesent elementum
		facilisis. Ultrices tincidunt arcu non sodales neque. Tempus egestas sed sed risus pretium quam
		vulputate. Viverra suspendisse potenti nullam ac tortor vitae purus faucibus ornare. Fringilla
		urna porttitor rhoncus dolor purus non. Amet dictum sit amet justo donec enim.
	</p>

	<p>
		Mattis ullamcorper velit sed ullamcorper morbi tincidunt. Tortor posuere ac ut consequat semper
		viverra. Tellus mauris a diam maecenas sed enim ut sem viverra. Venenatis urna cursus eget nunc
		scelerisque viverra mauris in. Arcu ac tortor dignissim convallis aenean et tortor at. Curabitur
		gravida arcu ac tortor dignissim convallis aenean et tortor. Egestas tellus rutrum tellus
		pellentesque eu. Fusce ut placerat orci nulla pellentesque dignissim enim sit amet. Ut enim
		blandit volutpat maecenas volutpat blandit aliquam etiam. Id donec ultrices tincidunt arcu. Id
		cursus metus aliquam eleifend mi.
	</p>

	<p>
		Tempus quam pellentesque nec nam aliquam sem. Risus at ultrices mi tempus imperdiet. Id porta
		nibh venenatis cras sed felis eget velit. Ipsum a arcu cursus vitae. Facilisis magna etiam
		tempor orci eu lobortis elementum. Tincidunt dui ut ornare lectus sit. Quisque non tellus orci
		ac. Blandit libero volutpat sed cras. Nec tincidunt praesent semper feugiat nibh sed pulvinar
		proin gravida. Egestas integer eget aliquet nibh praesent tristique magna.
	</p>
</Layout>
